/* button {
    border-radius: 10px;
} */
.start {
    background-image: linear-gradient(to bottom, #990000, #990000);
    color: #ffffff;
}
.start:hover {
    background-image: linear-gradient(to bottom, #800000, #800000);
}
.start:disabled {
    background-image: linear-gradient(to bottom, #5b5b5b, #5b5b5b);
}

.stop {
    background-image: linear-gradient(to bottom, #009933, #009933);
    color: #ffffff;
}
.stop:hover {
    background-image: linear-gradient(to bottom, #006622, #006622);
}
.stop:disabled {
    background-image: linear-gradient(to bottom, #5b5b5b, #5b5b5b);

}
#active_category {
    color: #a30000
}