.start {
    background-image: linear-gradient(to bottom, #990000, #990000);
    color: #ffffff;
    border-radius: 3px;
}
.start:hover {
    background-image: linear-gradient(to bottom, #800000, #800000);
    color: #ffffff;
    border-radius: 3px;
}

.stop {
    background-image: linear-gradient(to bottom, #009933, #009933);
    color: #ffffff;
    border-radius: 3px;
}
.stop:hover {
    background-image: linear-gradient(to bottom, #006622, #006622);
    color: #ffffff;
    border-radius: 3px;
}
#active_category {
    color: #a30000
}